name: test

on: 
  push:
    branches:
      - 'main'
      - 'beta'
      - 'dev'
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
      - run: npm ci
      - run: npm run tsgo
      - run: npm run oxlint
      - run: npm run tsc
      - run: npm run eslint
      - run: npm run build
      - run: npm run escheck
